<h1>Are you ready to play?</h1>

<p>Take your pick <%= @playername %>...</p>

<!-- <form action='/game' method='post'>
	<input type='radio' name='choice' value='rock' id='rock'><img src='/images/rock.png'> 
 -->
<form action='/choice' method='post'>
	<input type='radio' name='choice' value='rock'><img src='/images/rock.png' width='50'>"Rock"</a>
	<input type='radio' name='choice' value='paper'>"Paper"<img src='/images/paper.png' width='50'></a>
	<input type='radio' name='choice' value='scissors'>"Scissors"<img src='/images/sissors-02.png' width='50'></a>
	<input type='radio' name='choice' value='lizard'>"Lizard"<img src='/images/lizard.png' width='50'></a>
	<input type='radio' name='choice' value='spock'>"Spock"<img src='/images/spock.png' width='50'></a>
	<input type='submit' value='Lets go!'>
</form>

