<h1>Are you ready to play?</h1>

<p>Take your pick...</p>

<form action='/choice' method='post'>
	<input type='radio' name='choice' value='Rock'><img src='/images/rock.png' width='50'>"Rock"</a>
	<input type='radio' name='choice' value='Paper'><img src='/images/paper.png' width='50'>"Paper"</a>
	<input type='radio' name='choice' value='Scissors'><img src='/images/sissors-02.png' width='50'>"Scissors"</a>
	<input type='radio' name='choice' value='Lizard'><img src='/images/lizard.png' width='50'>"Lizard"</a>
	<input type='radio' name='choice' value='Spock'><img src='/images/spock.png' width='50'>"Spock"</a>
	<input type='submit' value='Lets go!'>
</form>

