<h1>Welcome to Rock, Paper, Scissors!</h1>

<% if @player %>

	<p>Do you want to play against a friend or the computer?</p>
	<nav>
		<ul>
			<li><a href="/game">Play against the Computer</a></li>
			<li><a href="/game_multiplayer">Play against a friend</a></li>
		</ul>
	</nav>

<% else %>

<p><a href='/new_player'>Let's play!</a></p>

<% end %>
